/* Resetting default browser styles */
body,
h1,
h2,
h3,
ul,
li {
    margin: 0;
    padding: 0;
}

/*colors
#fbdccc
#e0433e
#2d112a
#7b0432
#540432
#f38c5f
#f1846c
#54043c
#942444
*/

/* Global styles */
h1 {
    color: #cb2743;
    font-size: 60px;
    margin-bottom: 10px;
}

h2 {
    color: #f38c5f;
    font-size: 30px;
    margin-bottom: 20px;
}

h3 {
    color: #f38c5f;
    font-size: 20px;
    margin-bottom: 20px;
}


/* Body Styles */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: url('https://preview.redd.it/w8uxn0c9m4tz.png?auto=webp&s=58083c350d1930d1c6072d8dd285eb0cc9c9c786') no-repeat;
    background-size: 100% auto;
    /*background-position: center 40px;*/
    /* Adjust the second value as needed */
    background-color: #2d112a;
    color: #fbdccc;
    margin: 20px 0;
    position: relative;
}

body::after {
    content: "";
    position: absolute;
    top: 100%;
    /* Start from where the image ends */
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2d112a;
}


/* Header Styles */

header {
    position: relative;
    background: transparent;
    color: #f38c5f;
    padding: 20px;
    padding-top: 100px;
    /* Adjust this value as needed */
    text-align: center;
    margin: 0 20px;
}

header h1::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 245px;
    right: 0;
    /* Change from right to left */
    width: 20px;
    /* Adjust this value as needed */
    height: 26px;
    /* Adjust this value as needed */
    border-right: 3px solid #530030;
    /* Change from border-right to border-left */
    border-top: 2px solid #530030;
    /* Adjust the color as needed */
}

header h1 {
    position: absolute;
    top: 0;
    right: 40px;
    font-size: 40px;
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 2px #ff583d;
}

header h1 a {
    color: inherit;
    /* Keeps the color of the h1 */
    text-decoration: none;
    /* Removes the underline */
}

header h1 a:hover {
    color: inherit;
    /* Keeps the color of the h1 even when hovered */
}




/* Main Styles */


main {
    padding: 20px;
}

/* Navigation */
nav {
    background-color: #530030;
    color: #f38c5f;
    padding: 10px;
    border-radius: 5px;
}


footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #530030;
    color: #f38c5f;
    border-radius: 5px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
    margin-right: 10px;
    color: #f38c5f;
}


li a {
    color: #fbdccc;
    text-decoration: none;
    padding: 7px;
}

li a:hover {
    color: #e0433e;
    text-decoration: none;
}

a {
    color: #ca283b;
    /* Replace with your desired color */
}

a:hover {
    color: #e0433e;
    /* Replace with your desired color */
}



/* Article Styles */

/* Add margins to other elements as needed */
main,
footer,
nav {
    margin: 0 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.box {
    transition: transform 0.3s ease-in-out;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(81, 2, 48, 0.8);
    /* white with 80% opacity */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    flex: 0 0 48%;
    /* boxes take up 48% of the container width */
    /* other styles */
    width: calc(50% - 10px);
    /* boxes take up nearly half of the container width */
    box-sizing: border-box;
    /* include padding and border in the box's width */
    /* other styles */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}

.box-image {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    /* Adjust as needed */
    height: auto;
}

.box a {
    text-decoration: none;
}

.box h3 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
}

.box:hover {
    transform: scale(1.02);
}

.box img {
    max-width: 100%;
    height: auto;
}

.see-more {
    background-color: #008CBA;
    /* blue */
    color: white;
    /* white text */
    border: none;
    /* no border */
    padding: 5px 10px;
    /* padding around the text */
    text-align: center;
    /* center the text */
    text-decoration: none;
    /* remove underline */
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    /* change cursor to pointer when hovering over the button */
}

.hide-text {
    display: none;
}

.full-width {
    width: 100%;
}

header,
main,
footer {
    width: 80%;
    /* Adjust this value as needed */
    margin: 0 auto;
    /* Add this line to center these elements */
}

#interests-heading {
    color: #2d112a;
    font-size: 30px;
    margin-bottom: 20px;
}



/* Media Queries */
@media (max-width: 600px) {
    .box {
        width: 100%;
    }

    .hide-text {
        display: none;
    }

    .see-more {
        display: inline;
        margin-left: auto;
    }
}