/* Resetting default browser styles */
body,
h1,
h2,
h3,
ul,
li {
    margin: 0;
    padding: 0;
}

/*colors
#fbdccc
#e0433e
#2d112a
#7b0432
#540432
#f38c5f
#f1846c
#54043c
#942444
*/

/* Global styles */
h1 {
    color: #f38c5f;
    font-size: 40px;
    margin-bottom: 20px;
}

h2 {
    color: #f38c5f;
    font-size: 30px;
    margin-bottom: 20px;
}

h3 {
    color: #f38c5f;
    font-size: 20px;
    margin-bottom: 20px;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #2d112a;
    color: #fbdccc;
    margin: 20px;
}

header {
    background: url('../media/FireHouse.png');
    color: #f38c5f;
    padding: 20px;
    text-align: center;
}


main {
    padding: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #530030;
    color: #f38c5f;
    border-radius: 5px;
}


/* Navigation */
nav {
    background-color: #530030;
    color: #f38c5f;
    padding: 10px;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
    margin-right: 10px;
    color: #f38c5f;
    /* Optional: adds some space between the buttons */
}


li a {
    color: #fbdccc;
    text-decoration: none;
    padding: 7px;
}

li a:hover {
    color: #e0433e;
    text-decoration: none;
}