<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Fred's Corner - Home </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>

<body>

    <header>
        <a href="/home" style="text-decoration: none; color: inherit;">
            <h1>Fred's Corner</h1>
        </a>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/resume">Resume</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/content">Content</a></li>
                <li><a href="/meme">Meme of the day</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section id="Welcome">
            <h2 id="interests-heading">What is this about?</h2>
            <div class="box full-width">
                <h3>Welcome to Fred's Corner, this website is a collection of things he wants to share with people. It's
                    also
                    an opportunity for him to practice his coding skills, before this he'd never written HTML, CSS or
                    JavaScript.</h3>
            </div>
        </section>

        <section>
            <h2>Random Recommendations</h2>
            <div class="box-container">
                <div class="box">
                    <a href="https://www.screenzen.co/" target="_blank">
                        <h2>ScreenZen</h2>
                        <img class="box-image"
                            src="https://play-lh.googleusercontent.com/n0T3tCM7wkIWuS7jb2ggehpvO-rAB-MYuNtpMX6dUO2AAGOeUx5VZoA9xTRDtx4UXTc"
                            alt="ScreenZen">
                        <h3>Do you want to keep your social media but not be addicted to it? This is the app for you.
                        </h3>
                    </a>
                </div>
                <div class="box">
                    <a href="https://www.strava.com" target="_blank">
                        <h2>Strava</h2>
                        <img class="box-image"
                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Strava_Logo.svg/1280px-Strava_Logo.svg.png"
                            alt="Strava">
                        <h3>Best "social media" out there, using all the same tricks as IG and TikTok but it actually
                            benefits you.
                        </h3>
                    </a>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2023 Fred </p>
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>